<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/shop.css">
    <title><%= title %></title>
</head>
<body>
    <% if (headless) { %>
        <%- body %>
    <% } else { %>
        <div class="container">
            <div class="sidebar">
                <h3>Contents:</h3>
                <ul>
                    <% pages.forEach(page => { %>
                        <li><a href="<%= page.url %>" class="<%= page.url === activePage ? 'active' : '' %>"><%= page.name %></a></li>
                    <% }) %>
                </ul>
                <!-- Placeholder for uptime -->
                <div id="uptime" class="uptime">
                    <p>Server Uptime: Loading...</p>
                </div>
            </div>
            <div class="content">
                <%- body %>
            </div>
        </div>
    <% } %>
    
    <!-- JavaScript to fetch uptime -->
    <script>
        // Fetch the server uptime from the API and update the DOM
        fetch('/api/v1/uptime')
            .then(response => response.json())
            .then(data => {
                const uptimeElement = document.getElementById('uptime');
                uptimeElement.innerHTML = `<p>Uptime: ${data.uptime}</p>`;
            })
            .catch(error => {
                console.error('Error fetching uptime:', error);
            });
    </script>
</body>
</html>
